{% load static %}

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>ADMINISTRATION | OLYMPIQUE TICKETS</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Favicons -->
     <!-- 
    <link href="{% static 'admin/assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'admin/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon"> -->

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'admin/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'admin/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'admin/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'admin/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'admin/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">


    <!--datatable css-->
    <link rel="stylesheet" href="{% static 'admin/assets/datatables/css/dataTables.bootstrap5.min.css' %}" />
    <!--datatable responsive css-->
    <link rel="stylesheet" href="{% static 'admin/assets/datatables/css/responsive.bootstrap.min.css' %}" />

    <link rel="stylesheet" href="{% static 'admin/assets/datatables/css/buttons.dataTables.min.css' %}">

    <link href="{% static 'admin/assets/libs/selectize/css/selectize.bootstrap3.css'%}" rel="stylesheet"
        type="text/css" />

    <!-- Template Main CSS File -->
    <link href="{% static 'admin/assets/css/style.css' %}" rel="stylesheet">
</head>